// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Crimson Text
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');

// Bright
@font-face {
    font-family: 'Bright';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Bright.ttf') format('truetype');
    src: url('fonts/Bright.otf') format('opentype');
}

// Margin
@font-face {
    font-family: 'Margin';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Margin.otf') format('opentype');
}